.*~
.*.swp
tmp/
*.iml
.idea/
target/
build/
Thumbs.db

# Ignore Node & Bower
###################
node_modules
bower_components
#.tmp

# Ignore Test reporters
###################
**/test/coverage
report
.gradle/

src/main/js/*.js
src/main/js/*.map